<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div class="admin">
        <h1 class="jobscorner">ADMIN</h1>
        <h1  class="jobscorner">JOBS<span>CORNER</span></h1>

        <form action="/admin/Logout" method="post"><button class="nav212" type="submit" name="log_out">LOG OUT</button></form>
    </div>

    
    
    <div class="adminbuttons" >
        <div class="joblist">
            
            <a href="/admin/joblist"><h2>JOBLIST</h2></a>
        </div><!-- seeker -->
        <div class="application">
        <a href="/admin/applications"><h2>APPLICATION</h2></a>
        </div>
        <div class="user">
            <a href="/admin/users"><h2>USER</h2></a>
        </div>
    </div><!-- seekerPOster-->
    
</body>
</html>